h1 {
  color: #333;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 20px;
}

.product-container {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  /* flex-wrap: nowrap; */
  /* overflow-x: auto; */
  padding: 20px;
}

.Product {
  background-color: #ffffff;
  width: 300px;
  margin: 20px auto;
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: box-shadow 0.3s ease;
}

.Product:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.Product h2 {
  color: rgb(137, 42, 61);
  font-size: 24px;
  margin-bottom: 10px;
}

.Product p {
  font-size: 16px;
  margin-bottom: 10px;
  font-size: x-large;
}

.Product span {
  font-size: 22px;
  color: #222;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

.Product button {
  padding: 10px 20px;
  background-color: #9f2b50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.Product button:hover {
  background-color: #5b173d;
}

.Product:nth-child(even) {
  background-color: #edf2f4;
}

#best h2::before {
  content: "⭐ ";
  color: gold;
}

#best h2::after {
  content: "⭐ ";
  color: gold;
}

#best {
  border: 3px dashed gold;
  border-radius: 10px;
}

.Product:has(.out-of-stock) {
  border: 1.7px solid red;
}
